/* colors */
:root {
    --font-white: #FFFFFF;
    --search-symbol-gray: #9CA3AF;
    --base-font-gray: #A5A5A5;
    --search-btn-bg-gray: #4B4B4B;
    --placeholder-text-gray: #2E2F2E;
    --main-bg-black: #121212;
    --search-hr-line: #2C2C2C;
    --fonnt-error-gray: #787878;
    --watchlist-line-white: #E5E7EB;
}

/* base values */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

body {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

/* header */
header {
    display: flex;
    outline: 2px solid black;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 250px;
    background: url(assets/header-bg.avif) 60% 100%/cover no-repeat;
}

